.select-bar3 {
    width: 220px; 
    height: 40px; 
    display: flex;
    align-items: center;
    background-color: rgba(167, 174, 236, 0.6); 
    padding: 5px;
    border-radius: 5px;
    margin-top: -50.8px; 
    border: transparent; 
    border-width: 2px; 
    position: relative;
    left: 73.8%; 
    z-index: 0;
    
  }
  
  .select-bar3 select {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: white;
    width: 220px; 
    height: 150px; 
  }
  .select-bar3 .select-icon {
    color: lightgreen;
    margin-right: 5px;
  }
  .select-bar3 .select-text {
    font-size: 14px;
    color: white;
    text-align: center;
    height: 50px; 
  }
  
  